<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Coiny|Righteous" rel="stylesheet"> 
    <title>Bubbles</title>
  </head>
  <body>
    <div id="game">
      <div v-if="gameOn">
        <div id="gameData">
          Time left: {{timer}} s
          <br />
          Score: {{score}}
        </div>    
        <div v-for="(bubble, index) in bubbles"
         :style="'width:'+bubble.size+'px;height:'+bubble.size+'px;top:'+bubble.y+'px;left:'+bubble.x+'px;background-color:'+bubble.color+';'" 
         class="bubble" 
         v-on:click="popBubble(index)"></div>
        <div id="gameDoneDiv" v-if="gameDone">
          <h1>Final score: {{score}}</h1>
          <h2>Press the spacebar to continue</h2>
        </div>
      </div>      
      <div v-else>
        <h1 id="title">Bubbles</h1>
        <button v-on:click="startGame" id="startGameButton">Start Game</button>
        <div id="frontScores" v-if="scoreYet">
          <p>High Score: {{bestScore}}</p>
        </div>
        <footer>
          <a href="https://github.com/jrt781/bubbles">Github classroom link</a>
        </footer>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script src="script.js"></script>
    
  </body>
</html>
