body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

footer {
  text-align: center;
  background-color: #ccc;
  position: absolute;
  bottom:0;
  width: 100%;
  padding: 10px 0;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
