#title {
  font-family: 'Coiny', cursive;
  font-size: 8em;
  margin: 50px 0 -20px 0;
  padding-bottom: 0;
}

/* --- START BUTTONS -------------------------------------------------------- */

#gameButtonsDiv {
    text-align:center;
}

.gameButtonDiv {
    display:inline-block;
    width: 30%;
}

.startGameButton {
  border-radius: 8px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}

#startBubblesButton {
  background-color: #4488FF;
  color: white;
} 

#startFizzButton {
  background-color: #FF0000;
  color: white;
}

#startImpactButton {
  background-color: #FFFF00;
  color: black;
}

#startBubblesButton:hover {
  background-color: #00FF00;
  color: black;
}

#startFizzButton:hover {
  background-color: #FFAA00;
  color: black;
}

#startImpactButton:hover {
  background-color: #FF4488;
  color: white;
}

/* --- POPUP STRUCTURE ------------------------------------------------------ */

.popupButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  height: auto;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  margin: auto;
  left: 0;
  right: 0;
}

#backdrop {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* --- POPUPS STYLES -------------------------------------------------------- */

#bubblesInstructions {
  background-color: #44FF88;
  color: black;
  top: 25%;
}

#fizzInstructions {
  background-color: #6600CC;
  color: white;
  top: 25%;
}

#impactInstructions {
  background-color: #00FFFF;
  color: black;
  top: 25%;
}

#topten {
  background-color: #0000FF;
  color: white;
  top: 2em;
}

/* --- TOP TEN TABLE -------------------------------------------------------- */

#topten table {
  margin: auto; 
  border-collapse: separate;
  border-spacing: 0;
}

#topten table tbody :nth-child(odd) {
    background-color: white;
}

#topten table tbody tr:nth-child(even) td {
    background-color: #AACCFF;
}

#topten table tbody tr td {
  color: black;
  padding: 0.25em 1em;
  min-width: 2em;
}

#topten table tbody tr td:first-child {
  min-width: 1em;
}